<?php
/**
 * LogApi
 * PHP version 5
 *
 * @category Class
 * @package  Swagger\Client
 * @author   Swagger Codegen team
 * @link     https://github.com/swagger-api/swagger-codegen
 */

/**
 * fn
 *
 * The open source serverless platform.
 *
 * OpenAPI spec version: 0.2.0
 * 
 * Generated by: https://github.com/swagger-api/swagger-codegen.git
 *
 */

/**
 * NOTE: This class is auto generated by the swagger code generator program.
 * https://github.com/swagger-api/swagger-codegen
 * Do not edit the class manually.
 */

namespace Swagger\Client\Api;

use \Swagger\Client\ApiClient;
use \Swagger\Client\ApiException;
use \Swagger\Client\Configuration;
use \Swagger\Client\ObjectSerializer;

/**
 * LogApi Class Doc Comment
 *
 * @category Class
 * @package  Swagger\Client
 * @author   Swagger Codegen team
 * @link     https://github.com/swagger-api/swagger-codegen
 */
class LogApi
{
    /**
     * API Client
     *
     * @var \Swagger\Client\ApiClient instance of the ApiClient
     */
    protected $apiClient;

    /**
     * Constructor
     *
     * @param \Swagger\Client\ApiClient|null $apiClient The api client to use
     */
    public function __construct(\Swagger\Client\ApiClient $apiClient = null)
    {
        if ($apiClient === null) {
            $apiClient = new ApiClient();
        }

        $this->apiClient = $apiClient;
    }

    /**
     * Get API client
     *
     * @return \Swagger\Client\ApiClient get the API client
     */
    public function getApiClient()
    {
        return $this->apiClient;
    }

    /**
     * Set the API client
     *
     * @param \Swagger\Client\ApiClient $apiClient set the API client
     *
     * @return LogApi
     */
    public function setApiClient(\Swagger\Client\ApiClient $apiClient)
    {
        $this->apiClient = $apiClient;
        return $this;
    }

    /**
     * Operation appsAppCallsCallLogDelete
     *
     * Delete call log entry
     *
     * @param string $call Call ID. (required)
     * @param string $app App name. (required)
     * @throws \Swagger\Client\ApiException on non-2xx response
     * @return void
     */
    public function appsAppCallsCallLogDelete($call, $app)
    {
        list($response) = $this->appsAppCallsCallLogDeleteWithHttpInfo($call, $app);
        return $response;
    }

    /**
     * Operation appsAppCallsCallLogDeleteWithHttpInfo
     *
     * Delete call log entry
     *
     * @param string $call Call ID. (required)
     * @param string $app App name. (required)
     * @throws \Swagger\Client\ApiException on non-2xx response
     * @return array of null, HTTP status code, HTTP response headers (array of strings)
     */
    public function appsAppCallsCallLogDeleteWithHttpInfo($call, $app)
    {
        // verify the required parameter 'call' is set
        if ($call === null) {
            throw new \InvalidArgumentException('Missing the required parameter $call when calling appsAppCallsCallLogDelete');
        }
        // verify the required parameter 'app' is set
        if ($app === null) {
            throw new \InvalidArgumentException('Missing the required parameter $app when calling appsAppCallsCallLogDelete');
        }
        // parse inputs
        $resourcePath = "/apps/{app}/calls/{call}/log";
        $httpBody = '';
        $queryParams = [];
        $headerParams = [];
        $formParams = [];
        $_header_accept = $this->apiClient->selectHeaderAccept(['application/json']);
        if (!is_null($_header_accept)) {
            $headerParams['Accept'] = $_header_accept;
        }
        $headerParams['Content-Type'] = $this->apiClient->selectHeaderContentType(['application/json']);

        // path params
        if ($call !== null) {
            $resourcePath = str_replace(
                "{" . "call" . "}",
                $this->apiClient->getSerializer()->toPathValue($call),
                $resourcePath
            );
        }
        // path params
        if ($app !== null) {
            $resourcePath = str_replace(
                "{" . "app" . "}",
                $this->apiClient->getSerializer()->toPathValue($app),
                $resourcePath
            );
        }

        // for model (json/xml)
        if (isset($_tempBody)) {
            $httpBody = $_tempBody; // $_tempBody is the method argument, if present
        } elseif (count($formParams) > 0) {
            $httpBody = $formParams; // for HTTP post (form)
        }
        // make the API Call
        try {
            list($response, $statusCode, $httpHeader) = $this->apiClient->callApi(
                $resourcePath,
                'DELETE',
                $queryParams,
                $httpBody,
                $headerParams,
                null,
                '/apps/{app}/calls/{call}/log'
            );

            return [null, $statusCode, $httpHeader];
        } catch (ApiException $e) {
            switch ($e->getCode()) {
                case 404:
                    $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), '\Swagger\Client\Model\Error', $e->getResponseHeaders());
                    $e->setResponseObject($data);
                    break;
                default:
                    $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), '\Swagger\Client\Model\Error', $e->getResponseHeaders());
                    $e->setResponseObject($data);
                    break;
            }

            throw $e;
        }
    }

    /**
     * Operation appsAppCallsCallLogGet
     *
     * Get call logs
     *
     * @param string $app App Name (required)
     * @param string $call Call ID. (required)
     * @throws \Swagger\Client\ApiException on non-2xx response
     * @return \Swagger\Client\Model\LogWrapper
     */
    public function appsAppCallsCallLogGet($app, $call)
    {
        list($response) = $this->appsAppCallsCallLogGetWithHttpInfo($app, $call);
        return $response;
    }

    /**
     * Operation appsAppCallsCallLogGetWithHttpInfo
     *
     * Get call logs
     *
     * @param string $app App Name (required)
     * @param string $call Call ID. (required)
     * @throws \Swagger\Client\ApiException on non-2xx response
     * @return array of \Swagger\Client\Model\LogWrapper, HTTP status code, HTTP response headers (array of strings)
     */
    public function appsAppCallsCallLogGetWithHttpInfo($app, $call)
    {
        // verify the required parameter 'app' is set
        if ($app === null) {
            throw new \InvalidArgumentException('Missing the required parameter $app when calling appsAppCallsCallLogGet');
        }
        // verify the required parameter 'call' is set
        if ($call === null) {
            throw new \InvalidArgumentException('Missing the required parameter $call when calling appsAppCallsCallLogGet');
        }
        // parse inputs
        $resourcePath = "/apps/{app}/calls/{call}/log";
        $httpBody = '';
        $queryParams = [];
        $headerParams = [];
        $formParams = [];
        $_header_accept = $this->apiClient->selectHeaderAccept(['application/json']);
        if (!is_null($_header_accept)) {
            $headerParams['Accept'] = $_header_accept;
        }
        $headerParams['Content-Type'] = $this->apiClient->selectHeaderContentType(['application/json']);

        // path params
        if ($app !== null) {
            $resourcePath = str_replace(
                "{" . "app" . "}",
                $this->apiClient->getSerializer()->toPathValue($app),
                $resourcePath
            );
        }
        // path params
        if ($call !== null) {
            $resourcePath = str_replace(
                "{" . "call" . "}",
                $this->apiClient->getSerializer()->toPathValue($call),
                $resourcePath
            );
        }

        // for model (json/xml)
        if (isset($_tempBody)) {
            $httpBody = $_tempBody; // $_tempBody is the method argument, if present
        } elseif (count($formParams) > 0) {
            $httpBody = $formParams; // for HTTP post (form)
        }
        // make the API Call
        try {
            list($response, $statusCode, $httpHeader) = $this->apiClient->callApi(
                $resourcePath,
                'GET',
                $queryParams,
                $httpBody,
                $headerParams,
                '\Swagger\Client\Model\LogWrapper',
                '/apps/{app}/calls/{call}/log'
            );

            return [$this->apiClient->getSerializer()->deserialize($response, '\Swagger\Client\Model\LogWrapper', $httpHeader), $statusCode, $httpHeader];
        } catch (ApiException $e) {
            switch ($e->getCode()) {
                case 200:
                    $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), '\Swagger\Client\Model\LogWrapper', $e->getResponseHeaders());
                    $e->setResponseObject($data);
                    break;
                case 404:
                    $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), '\Swagger\Client\Model\Error', $e->getResponseHeaders());
                    $e->setResponseObject($data);
                    break;
            }

            throw $e;
        }
    }
}
